@import "config";
@import "utilities";
@import "item_grid";

// General styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  appearance: none;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
}
html,
body {
  max-width: 100%;
  overflow-x: hidden;
  position: relative;
  scroll-behavior: smooth;
}

body#main {
  padding-left: $menu-width-desktop;
}

p {
  font-size: 20px;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}

h2,
h3,
h4 {
  text-transform: uppercase;
}

img {
  width: 100%;
}

section {
  min-height: 100vh;
}

/*Scrollbar styling*/
/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: $main-color $dark-color;
}

/* Works on Chrome, Edge, and Safari */
/*
html::-webkit-scrollbar {
  width: 20px;
}

html::-webkit-scrollbar-track {
  background: linear-gradient(0deg, #231b31, #b086f5);
}

html::-webkit-scrollbar-thumb {
  background: transparent;
  box-shadow: 0px 0px 0px 100vh black;
}*/
html::-webkit-scrollbar-track {
  background: linear-gradient(0deg, #231b31, #b086f5);
}

::-webkit-scrollbar {
  width: 10px;
  background: #222;
}
::-webkit-scrollbar-thumb {
  background: $main-color;
  box-shadow: 0 -100vh 0 100vh $main-color;
}

.menu {
  background: $medium-color;
  height: 100vh;
  width: $menu-width-desktop;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  outline: none;

  .avatar {
    background: $medium-color;
    padding: 2em 0.5em;
    text-align: center;

    span:hover {
      color: $main-color;
    }

    h2 {
      font-weight: normal;
      margin-bottom: 0;
    }
  }

  ul {
    position: relative;
    list-style: none;
    margin: 0;
    top: 30%;

    li {
      padding: 0;
      font-size: 1.25em;
      font-weight: regular;
      background-repeat: no-repeat;
      background-position: left 15px center;
      background-size: auto 20px;
      transition: all 0.15s linear;
      cursor: pointer;

      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }

      &:focus {
        outline: none;
      }
      a {
        padding: 0.5em 1em 0.5em 3em;
        display: block;
      }
    }
  }

  .socials {
    position: absolute;
    width: 100%;
    bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25em;
    a {
      padding: 10%;
      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
  }
}
.list-hover-slide {
  li {
    position: relative;
    overflow: hidden;
  }

  a {
    display: block;
    position: relative;
    z-index: 1;
    transition: 0.5s ease color;

    &:before {
      content: "";
      display: block;
      z-index: -1;
      position: absolute;
      left: -100%;
      top: 0;
      width: 100%;
      height: 100%;
      border-right: solid 5px $main-color;
      background: $dark-color;
      transition: 0.5s ease left;
    }

    &.is-current,
    &:hover {
      color: #fff;
      &:before {
        left: 0;
      }
    }
  }
}

#landing {
  padding-top: 10%;
  color: $light-color;
  .info {
    display: inline;
    h1 {
      font-size: 5rem;
    }
    h2 {
      font-size: 3rem;
    }
  }
}

#portfolio {
  color: $light-color;
}

#about {
  color: $light-color;
  .about-container {
    border-radius: 25px;
    padding: 3rem;
    background-color: $medium-color;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 0.25fr;
    gap: 0px 0px;
    grid-template-areas:
      "primary primary img"
      "primary primary img"
      "secondary secondary secondary";

    //grid areas
    .primary-text {
      grid-area: primary;
    }
    .secondary-text {
      grid-area: secondary;
    }
    .about-img {
      grid-area: img;
      max-width: 400px;
      height: auto;
      border-radius: 25px;
      margin-left: 10px;
    }
  }
  .btn-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

#skills {
  color: $light-color;
  padding: 3rem;
  .skills-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
    text-align: center;
    background-color: $medium-color;
    padding: 5rem;
    border-radius: 25px;
    .skill {
      padding: 5%;
      box-shadow: $dark-color 0px 5px 15px;
      img {
        max-width: 200px;
      }
    }
  }
}

#contact {
  color: $light-color;
  .text-fields {
    display: grid;
    grid-template-areas:
      "name email"
      "subject phone"
      "message message";
    grid-gap: 1.2rem;
    margin-bottom: 1.2rem;

    input {
      height: 50px;
    }

    input::placeholder,
    textarea::placeholder {
      color: $light-color;
      font-family: "Poppins", sans-serif;
      line-height: 1.6;
    }

    //grid areas
    .name-input {
      grid-area: name;
    }
    .subject-input {
      grid-area: subject;
    }
    .email-input {
      grid-area: email;
    }
    .phone-input {
      grid-area: phone;
    }
    .message-input {
      grid-area: message;
      height: 200px;
    }

    .text-input {
      padding: 0.5rem 1rem;
      color: $light-color;
      background-color: $dark-color;
      border: 2px solid $main-color;
    }
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
      border: 2px solid $main-color;
      -webkit-text-fill-color: $light-color;
      transition: background-color 5000s ease-in-out 0s;
    }
    input[type="text"]:focus,
    textarea:focus {
      outline: 1px solid $main-color;
    }
  }

  button[type="submit"] {
    width: 50%;
    border: 3px $main-color solid;
    font-family: "Poppins", sans-serif;
    line-height: 1.6;
  }
}

#main-footer {
  background: $dark-color;
  color: $light-color;
  height: 5rem;
  border-top: 2px solid $main-color;
  font-size: 1.25em;
  overflow: hidden;

  .footer-content {
    display: flex;
    justify-content: space-between;
    height: 5rem;
    align-items: center;

    .socials {
      display: flex;
      align-items: center;
      padding-right: 5rem;

      a {
        color: $light-color;
        padding: 10%;
        &:hover {
          background-color: $main-color;
          color: $dark-color;
        }
      }
    }
  }
}

/*Individual project sites*/
#project-a {
  color: $light-color;
  padding: -240px;
  .project-imgs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;

    img {
      max-height: 200px;
      border: 2px solid $main-color;
    }
  }
  .project-text {
    padding-top: 1rem;
    p {
      text-align: left;
    }
  }
  a {
    margin-top: 2.5rem;
  }
}

// idk

.circle-container {
  $particleNum: 200;
  $particleColor: hsl(263, 85%, 74%);

  position: absolute;
  transform: translateY(-10vh);
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  .circle {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    mix-blend-mode: screen;
    background-image: radial-gradient(
      hsl(263, 85%, 74%),
      hsl(263, 85%, 74%) 10%,
      hsla(180, 100%, 80%, 0) 56%
    );
    animation: fadein-frames 200ms infinite, scale-frames 2s infinite;

    @keyframes fade-frames {
      0% {
        opacity: 1;
      }

      50% {
        opacity: 0.7;
      }

      100% {
        opacity: 1;
      }
    }

    @keyframes scale-frames {
      0% {
        transform: scale3d(0.4, 0.4, 1);
      }

      50% {
        transform: scale3d(2.2, 2.2, 1);
      }

      100% {
        transform: scale3d(0.4, 0.4, 1);
      }
    }
  }

  $particleBaseSize: 8;

  @for $i from 1 through $particleNum {
    &:nth-child(#{$i}) {
      $circleSize: random($particleBaseSize);
      width: $circleSize + px;
      height: $circleSize + px;

      $startPositionY: random(10) + 100;
      $framesName: "move-frames-" + $i;
      $moveDuration: 28000 + random(9000) + ms;

      animation-name: #{$framesName};
      animation-duration: $moveDuration;
      animation-delay: random(37000) + ms;

      @keyframes #{$framesName} {
        from {
          transform: translate3d(
            #{random(100) + vw},
            #{$startPositionY + vh},
            0
          );
        }

        to {
          transform: translate3d(
            #{random(100) + vw},
            #{- $startPositionY - random(30) + vh},
            0
          );
        }
      }

      .circle {
        animation-delay: random(4000) + ms;
      }
    }
  }
}

.message {
  position: absolute;
  right: 20px;
  bottom: 10px;
  color: white;
  font-family: "Josefin Slab", serif;
  line-height: 27px;
  font-size: 18px;
  text-align: right;
  pointer-events: none;
  animation: message-frames 1.5s ease 5s forwards;
  opacity: 0;

  @keyframes message-frames {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}

//Media Querries
//Small screens, laptops
@media screen and (max-width: 1024px) {
  #about {
    color: $light-color;
    .about-container {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 0.5fr 0.5fr;
      gap: 0px 0px;
      grid-template-areas:
        "img img"
        "primary primary"
        "primary primary"
        "secondary secondary";

      .about-img {
        margin: auto;
      }
    }
  }
}

//iPads, Tablets.
@media screen and (max-width: 768px) {
  body {
    padding-left: 0px !important;
  }

  .menu {
    width: $menu-width-smartphone;
    box-shadow: 0 0 0 100em rgba(0, 0, 0, 0);
    transform: translate3d(-$menu-width-smartphone, 0, 0);
    transition: all 0.3s ease-in-out;

    .smartphone-menu-trigger {
      width: 40px;
      height: 40px;
      position: absolute;
      left: 100%;
      background: $medium-color;

      &:before,
      &:after {
        content: "";
        width: 50%;
        height: 2px;
        background: #fff;
        border-radius: 10px;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
      }

      &:after {
        top: 55%;
        transform: translate3d(-50%, -50%, 0);
      }
    }

    ul {
      margin-top: -60%;
      li {
        padding: 1em 1em 1em 1em;
        font-size: 1.2em;
      }
    }

    &:focus {
      transform: translate3d(0, 0, 0);
      box-shadow: 0 0 0 100em rgba(0, 0, 0, 0.6);

      .smartphone-menu-trigger {
        pointer-events: none;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  #landing {
    .info {
      display: inline;
      h1 {
        font-size: 3rem;
      }
      h2 {
        font-size: 1.5rem;
      }
      .btn-wrap {
        a {
          margin-left: auto;
          margin-right: auto;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
  #portfolio {
    .items {
      grid-template-columns: 1fr;
      grid-gap: 10px;
    }
  }
  #about {
    color: $light-color;
    .about-container {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      gap: 0px 0px;
      grid-template-areas:
        "img"
        "primary"
        "primar"
        "secondary";

      .about-img {
        margin: auto;
      }
      p {
        font-size: 12px;
      }
    }
    .btn-wrap {
      a {
        text-align: center;
        height: 70px;
        font-size: 10px;
        padding: 0.5rem 0.8rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
      }
    }
  }

  #skills {
    .lead {
      font-size: 16px;
    }
    padding: 1rem;
    .skills-container {
      grid-gap: 5px;
      padding: 1rem;
      .skill {
        padding: 5%;
        box-shadow: none;

        p {
          font-size: 12px;
        }
        img {
          max-width: 50px;
        }
      }
    }
  }

  #contact {
    .text-fields {
      grid-template-areas:
        "name"
        "email"
        "subject"
        "phone"
        "message";
    }
  }

  #project-a {
    .project-imgs {
      grid-template-columns: 1fr;
    }
    .project-text {
      padding-top: 1rem;
      p {
        font-size: 12px;
        text-align: left;
      }
    }
    a {
      margin: auto;
      font-size: 14px;
      margin-top: 2.5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }
  }

  #main-footer {
    height: 7rem;

    .footer-content {
      flex-direction: column;
      padding: 0.2rem;
      height: 5rem;
      .socials {
        margin-top: 5px;
      }
    }
  }
}
